:root{
  --accent-color-primary: hsla(104, 48%, 52%, 0.75);
  --accent-color-secondary: hsla(219, 84%, 58%, 0.75);
}
* {
  margin: 0;
  padding: 0;
  color: white;
}
html,
body {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  height: 100%;
  background-color: black;
  max-width: 1920px;
  min-width: 1280px;
}
.container {
  position: fixed;
  height: max-content;
  width: 100%;
}
/* применяем фильтр яркости для лучшей читаемости */
.background-img {
  width: 100%;
  filter: brightness(0.7);
}
.adaptive-btn > img {
  margin: 1em;
  width: 40%;
  height: 40%;
}
.adaptive-btn > * {
  pointer-events: none;
}
.active {
  background-color: var(--accent-color-primary) !important;
}
.passive {
  background-color: var(--accent-color-secondary) !important;
}

.adaptive-btn {
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  border: none;
  min-width: 3em;
  border-radius: 100vw;
  z-index: 2;
  position: absolute;
}

.adaptive-btn.clicked {
  width: max-content;
  padding-right: 1em;
}
